<style>
  body {
      background-color: #121212;
      color: #C0C0C0;
      }
            
      a {
        color: #ffffff;
      }
            
          
          h1{
              font-size:100px;
              font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
              font-weight:100;
              color: #999;
              text-shadow: 1px 1px 1px #000;
            }

          h2{
              font-size:55px;
              font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
              font-style: italic;
              font-weight: 100;
              color: white;
              text-shadow: 1px 1px 1px #000;
            }
          
          h3{
              font-size:18px;
              font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
              font-style:normal;
              font-weight:400;
              color: yellow;
            }
          
          h4{
              font-size:25px;
              font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
              font-style: normal;
              font-weight: 100;
              color: white;
              text-shadow: 1px 1px 1px #000;
            }
          
                
.row {
      padding-top: 50px;
      padding-bottom: 50px;
}
  
  
img {
      width: 100%;
      min-width:  100%;
      height: auto;
}
  
.navbar-transparent {
    background-color: #121212 !important;
}
          
</style>


<body>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="homepage-hero-module">
        <div class="video-container embed-responsive embed-responsive-16by9">
        <div class="filter"></div>
        <video autoplay loop muted class="fullWidth">
            <source height="100%" width="100%" src="http://jonrossdesign.com/NYCDA/shipping/videos/Triple-E.mp4" type="video/mp4" />
        </video>
        <div class="row intro">
                    <div class="col-md-12 text-center">
                        <h1>Interstellar Shipping</h1>
                        <h2>To infinity and beyond...</h2>
                        <h3>Pilot our ships and deliver our cargo for a lucrative income!</h3>
                        
                        <br>
                        <br>
                        <a class="btn btn-lg btn-primary" data-toggle="tooltip" data-placement="bottom" title="This Ruby on Rails app is currently under construction">Sign Up Now</a>
                    </div>
          </div>
    </div>
  </div>
  
  
     <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Vision &nbsp;&nbsp;+</h2>
          <p>1.the act or power of anticipating that which will or may come to be:
              prophetic vision; the vision of an entrepreneur.<br>
              2. an experience in which a personage, thing, or event appears vividly or credibly to the mind, although not actually present, often under the influence of a divine or other agency.
          </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Direction &nbsp;&nbsp;=</h2>
          <p>1. the line along which anything lies, faces, moves, etc., with reference to the point or region toward which it is directed.<br>
              2. a position on a line extending from a specific point toward another point.<br>
              3. a line of thought or action or a tendency or inclination.
              </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Mastery</h2>
          <p>1. a person eminently skilled in something, as an occupation, art, or science: "the great masters of the Impressionist period; a master diplomat; a master pianist; a Zen master"<br>
            2. being a master carrying on one's trade independently.<br>
              3. a person whose teachings others follow.<br>
          </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      
      <div class="row text-center">
        <h2>Be the Master of Your Destiny...</h2>
        <h4>...and move cargo for us while you do it!</h4>
        <br><br><br>
        <a class="btn btn-lg btn-default" data-toggle="tooltip" data-placement="bottom" title="This web app is currently under construction">Join Us Today</a>
      </div>
      
      <footer>
        <p class="text-center">&copy; 2017 Interstellar Shipping, LLC.</p>
      </footer>
    </div> <!-- /container -->
  
  

</body>
