<nav class="navbar navbar-transparent navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"></a>
        </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/about" title="Our Story">Our Story</a></li>
          
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Flagships <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Enterprise | Galaxy Class - 100,000 TEUs</a></li>
            <li><a href="#">Quadruple-E Maersk - 32,000 TEUs</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-ship" style="font-size:24px"></i> TEUs = Trailer Equivalent Units</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Surface Ships <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Regina Maersk Class - 7,100 TEUs</a></li>
            <li><a href="#">Sovereign Maersk Class - 8,100 TEUs</a></li>
            <li><a href="#">Emma Class Maersk - 15,500 TEUs</a></li>
            <li><a href="#">Triple-E Maersk - 18,000 TEUs</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-ship" style="font-size:24px"></i> TEUs = Trailer Equivalent Units</a></li>
          </ul>
        </li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/" title="Pilot our ships on a planet's surface">Terrestrial</a></li>
            
            <li><a href="/space" title="Pilot our ships between planets">Interstellar</a></li>
            <li class="divider"></li>
            <% if current_user %>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
        </ul>
    </div>
    </div><!--/.nav-collapse -->
</nav>